@kd-prefix: kd;

@base-primary: #512da7;

:root {
  --@{kd-prefix}-primary-color: @base-primary;
  --@{kd-prefix}-body-background: #eee;
  --@{kd-prefix}-text-color: #333;
  --@{kd-prefix}-header-height: 48px;
  --@{kd-prefix}-sider-width: 72px;
}

// 深色模式
[data-theme='dark'] {
  --@{kd-prefix}-body-background: #333;
  --@{kd-prefix}-text-color: #ccc;
}

@body-background: ~'var(--@{kd-prefix}-body-background)';
@primary-color: ~'var(--@{kd-prefix}-primary-color)';
@text-color: ~'var(--@{kd-prefix}-text-color)';
@header-height: ~'var(--@{kd-prefix}-header-height)';
@sider-width: ~'var(--@{kd-prefix}-sider-width)';
