@kd-prefix: kd;

@base-primary: #1890ff;

:root {
  --@{kd-prefix}-primary-color: @base-primary;
  --@{kd-prefix}-primary-1: fade(@base-primary, 10%);
  --@{kd-prefix}-primary-2: fade(@base-primary, 20%);
  --@{kd-prefix}-primary-3: fade(@base-primary, 30%);
  --@{kd-prefix}-primary-4: fade(@base-primary, 40%);
  --@{kd-prefix}-primary-5: fade(@base-primary, 50%);
  --@{kd-prefix}-primary-6: fade(@base-primary, 60%);
  --@{kd-prefix}-primary-7: fade(@base-primary, 70%);
  --@{kd-prefix}-primary-8: fade(@base-primary, 80%);
  --@{kd-prefix}-primary-9: fade(@base-primary, 90%);
  --@{kd-prefix}-primary-color-hover: lighten(@base-primary, 15%);
  --@{kd-prefix}-primary-color-active: darken(@base-primary, 15%);
  --@{kd-prefix}-bg-color: #eee;
  --@{kd-prefix}-bg-color-pro: #fff;
  --@{kd-prefix}-text-color: #333;
  --@{kd-prefix}-text-color-lite: #666;
  --@{kd-prefix}-header-height: 48px;
  --@{kd-prefix}-sider-width: 72px;
}

// 深色模式
[data-theme='dark'] {
  --@{kd-prefix}-bg-color: #333;
  --@{kd-prefix}-bg-color-pro: #222;
  --@{kd-prefix}-text-color: #eee;
  --@{kd-prefix}-text-color-lite: #bbb;
}

@bg-color: ~'var(--@{kd-prefix}-bg-color)';
@bg-color-pro: ~'var(--@{kd-prefix}-bg-color-pro)';
@primary-color: ~'var(--@{kd-prefix}-primary-color)';
@primary-1: ~'var(--@{kd-prefix}-primary-1)';
@primary-2: ~'var(--@{kd-prefix}-primary-2)';
@primary-3: ~'var(--@{kd-prefix}-primary-3)';
@primary-4: ~'var(--@{kd-prefix}-primary-4)';
@primary-5: ~'var(--@{kd-prefix}-primary-5)';
@primary-6: ~'var(--@{kd-prefix}-primary-6)';
@primary-7: ~'var(--@{kd-prefix}-primary-7)';
@primary-8: ~'var(--@{kd-prefix}-primary-8)';
@primary-9: ~'var(--@{kd-prefix}-primary-9)';
@primary-color-hover: ~'var(--@{kd-prefix}-primary-color-hover)';
@primary-color-active: ~'var(--@{kd-prefix}-primary-color-active)';
@text-color: ~'var(--@{kd-prefix}-text-color)';
@text-color-lite: ~'var(--@{kd-prefix}-text-color-lite)';
@header-height: ~'var(--@{kd-prefix}-header-height)';
@sider-width: ~'var(--@{kd-prefix}-sider-width)';
