.kd-table {
  .header {
    margin-bottom: 15px;

    .title {
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 32px;
    }
  }

  .ant-table {
    border-radius: 5px;
    overflow: hidden;
  }
}
