@import '../../style/variables';

.kd-header {
  position: fixed;
  height: @header-height;
  left: @sider-width;
  right: 0;
  background-color: #91d5ff;
}

.kd-sider {
  position: fixed;
  top: 0;
  bottom: 0;
  width: @sider-width;
  background-color: #a896d3;
}

.kd-content {
  position: fixed;
  top: @header-height;
  left: @sider-width;
  right: 0;
  bottom: 0;
}
