@import (reference) '../../style/variables';

.kd-menu-sys {
  text-align: center;
  padding: 10px;

  &.active {
    background-color: @primary-color-active;
  }
}

.kd-menu-mod-wrapper {
  background-color: @bg-color-pro;
  color: @text-color;
}

.kd-menu-mod-header {
  display: flex;
  align-items: center;

  .kd-menu-mod-icon {
    font-size: 16px;
    color: @primary-color;
    margin-right: 8px;
  }
}
